<div class="cards-wr-margin">
  <h2>OFFERS RECENTLY MADE</h2>
  <div class="flex-card-container">
    <% @offers_pend.each do |offer| %>
      <div class="card-offer-content">
        <p class="candy-pic"> <%= image_tag "#{offer.request.sweet.picture}"%> </p>
        <div class="card-offer-text">
          <h3> <%= offer.request.sweet.name %> </h3>
          <p> Status: <%= offer.status %> </p>
          <p> <i class="far fa-calendar-alt"></i> <%= offer.end_date %> </p>
          <p> <i class="fas fa-map-marked-alt"></i> <%= offer.user.city %> </p>
          <p> <%= link_to "Request", request_path(offer.request) %> </p>
          <p> <%= link_to 'Offer', request_offer_path(request_id: offer.request_id, id: offer.id) %></p>
        </div>
      </div>
    <% end %>
  </div>



  <h2> ARCHIVED OFFERS</h2>
  <div class="flex-card-container">
    <% @offers_arch.each do |offer| %>
      <div class="card-offer-content">
        <p class="candy-pic"> <%= image_tag "#{offer.request.sweet.picture}"%> </p>
        <div class="card-offer-text">
          <h3> <%= offer.request.sweet.name %> </h3>
          <p> Status: <%= offer.status %> </p>
          <p> <i class="far fa-calendar-alt"></i> <%= offer.end_date %> </p>
          <p> <i class="fas fa-map-marked-alt"></i> <%= offer.pick_up_location %> </p>
          <p> <%= link_to "Details", request_path(offer.request) %> </p>
        </div>
      </div>
    <% end %>
  </div>


  <h2> CANCELED OFFERS</h2>
  <div class="flex-card-container">
    <% @offers_canc.each do |offer| %>
      <div class="card-offer-content">
        <p class="candy-pic"> <%= image_tag "#{offer.request.sweet.picture}"%> </p>
        <div class="card-offer-text">
          <h3> <%= offer.request.sweet.name %> </h3>
          <p> Status: <%= offer.status %> </p>
          <p> <i class="far fa-calendar-alt"></i> <%= offer.end_date %> </p>
          <p> <i class="fas fa-map-marked-alt"></i> <%= offer.pick_up_location %> </p>
          <p> <%= link_to "Details", request_path(offer.request) %> </p>
        </div>
      </div>
    <% end %>
  </div>


</div>
