<div class="cards-wr-margin">
  <h2> Your recent offers</h2>
  <div class="flex-wrap-container">
    <% @offers_pend.each do |offer| %>
      <div class="card-offer-content">
        <p> <%= image_tag "#{offer.request.sweet.picture}", alt: "Le Wagon", width: 200 %> </p>
        <h3> <%= offer.request.description %> </h3>
        <p> <%= offer.content %> </p>
        <p> <%= offer.start_date %> </p>
        <p> <%= offer.end_date %> </p>
        <p> <%= offer.pick_up_location %> </p>
        <p> <%= offer.status %> </p>
      </div>
    <% end %>
  </div>
  <h2> Archived offers</h2>
    <% @offers_arch.each do |offer| %>
      <p> <%= image_tag "#{offer.request.sweet.picture}", alt: "Le Wagon", width: 200 %> </p>
      <h3> <%= offer.request.description %> </h3>
      <p> <%= offer.content %> </p>
      <p> <%= offer.start_date %> </p>
      <p> <%= offer.end_date %> </p>
      <p> <%= offer.pick_up_location %> </p>
      <p> <%= offer.status %> </p>
    <% end %>
  <h2> Canceled offers</h2>
    <% @offers_canc.each do |offer| %>
      <p> <%= image_tag "#{offer.request.sweet.picture}", alt: "Le Wagon", width: 200 %> </p>
      <h3> <%= offer.request.description %> </h3>
      <p> <%= offer.content %> </p>
      <p> <%= offer.start_date %> </p>
      <p> <%= offer.end_date %> </p>
      <p> <%= offer.pick_up_location %> </p>
      <p> <%= offer.status %> </p>
    <% end %>
</div>
