<%= image_tag "#{@user.photo}", alt: "Avatar", width: 200 %>
<p> Hi, <%= @user.full_name %>!</p>
<p> Contact: <%= @user.email %> </p>
<p> <%= @sum_requests %> Requests made </p>
<p> <%= @sum_confirmed_offers %> times a Hero </p>
<p> <%= @sum_donation %> Raised </p>
