<div class="profile-info rc-16">
  <%= image_tag "#{@user.photo}", alt: "Avatar", width: 200 %>
  <div class="sections">
    <h5>SWEET-HERO</h5>
    <h5>CANDIES</h5>
  </div>

  <h3> <%= @user.full_name %> </h3>
  <p> <i class="fas fa-candy-cane"></i> <%= @sum_requests %> Requests made </p>
  <p> <i class="fas fa-luggage-cart"></i> <%= @sum_confirmed_offers %> times a Hero </p>
  <p> <i class="fas fa-hand-holding-heart"></i> <%= @sum_donation %> € Raised </p>
</div>
