<div class="container card-map rounded">
  <div class="row justify-content-center">
    <p> <%= cl_image_tag(request.sweet.picture,
          {id: "img-sweet-map"}) %> </p>
  </div>
  <div class="text-center">
    <h3> <%= request.sweet.name %></h3>
    <p>From <%= request.sweet.country %></p>
  </div>
  <div class="row align-items-center">
    <div class="col-sm">
      <p> <%= cl_image_tag(request.user.photo,
            {class: "avatar-large"}) %> </p>
    </div>
    <div class="col-sm">
      <p> <%= request.user.full_name %></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="btn-action mt-2 col-10">
      <%= link_to "LET'S GO!", request_path(request) %>
    </div>
  </div>
</div>
