<% @requests.each do |request| %>
  <%= link_to request_path(request.id), :action => 'go', class: "card card-request" do %>
    <%= cl_image_tag(request.sweet.picture,
    {class:"card-picture rc-16"}) %>

    <div class="card-request-info">
      <div>
        <h5>  <i class="fas fa-globe-americas"></i> <%= request.sweet.country %></h5>
        <div class="card-charity">
          <p style="font-size: 14px;"> <i class="fas fa-heart"></i> <%= request.charity.name %></p>
      </div>
        </div>
        <div class="card-avatar">
          <%= cl_image_tag(request.user.photo,
           {class: "avatar"}) %>
           <p>  <%= request.user.full_name %> from <%= request.user.city %></p>
        </div>
    </div>
  <% end %>
<% end %>


