<div class="row mb-3" id='img-sweet'>
  <div class="col-sm">
    <h2 class="header-thick"><%= @request.sweet.name %></h2>
    <div class="small-text-align">
      <p> created on <%= @request.created_at.to_formatted_s(:long_ordinal) %></p>
      <p> City: <%= @request.user.city %></p>
      <p> <%= @request.quantity %> Pack</p>
      <p> Message: <%= @request.description %></p>
    </div>
  </div>

  <div class="col-sm d-flex align-items-center justify-content-center">
    <%= cl_image_tag(@request.sweet.picture,
    crop: :fill) %>
  </div>
</div>

<div class="row align-items-end">

    <div class="col-sm">
      <div class="btn-action" id= "offer">
        <%= link_to 'MAKE AN OFFER', new_request_offer_path(@request) %>
      </div>
    </div>

  <div class="col-sm">
    <p><i class="fas fa-heart"></i> <%= @request.charity.name %></p>
    <p> Donation: <%= convert_currency(@request.donation_cents) %> </p>
    <div class="card-border-bottom-show">
      <p> Estimate price: <%= convert_currency(@request.price_cents)%></p>
    </div>
    <p> Estimate total: <%= convert_currency(@request.price_cents + @request.donation_cents)%></p>
  </div>

</div>

