<h1>Here is all the sweets Request!</h1>
<p>You can bowse through to see all the sweet request for Candy all over the world!</p>
<div class="card-request">
  <% @requests.each do |request| %>
    <p>description:  <%= request.description %></p> <br>
    <p>price:  <%= request.price_cents %> </p><br>
    <p>donation:   <%= request.donation_cents %></p> <br>
    <p>quantity:<%= request.quantity %> </p><br>
    <p>charity: <%= request.charity_id %></p> <br>
    <p>-------------------------</p>
  <% end %>
</div>
