<%= link_to "back to candies", sweets_path , class: 'btn-info' %>
<div class="form-container">
  <div class="text-center">
    <h1>Create a new request for <%= @request.sweet.name %> </h1>
  </div>
  <%= cl_image_tag(@request.sweet.picture, {id: 'sweet-image-container'}) %>
  <div class="form-style">
    <%= simple_form_for(@request) do |f| %>
      <%= f.error_notification %>
     <div class=“”>
       <%= f.input :description, label: 'Write a Message to your hero:' %>
       <%= f.input :price_cents, label: 'Candy price:'%>
       <%= f.input :donation_cents, label: 'Donation amount:'  %>
       <%= f.input :quantity, label: 'Number of pack:'%>
       <%= f.association :charity, as: :radio_buttons %>
     </div>
     <div class=“form-actions”>
       <%= f.button :submit, class: 'btn-action' %>
     </div>
    <% end %>
  </div>
</div>
