<div class="request-form-container my-5">
    <div class="text-center">
      <h1>Request for <%= @request.sweet.name %> </h1>
    </div>
  <%= simple_form_for(@request) do |f| %>
    <div class="row">
      <div class="col-md-8 ">
        <div class="row">
          <div class="col-md-12">
            <%= f.error_notification %>
            <%= f.input :description, label: 'Write a Message to your hero:', input_html: { class: 'round-form' } %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <%= f.input :price_cents, label: 'Candy price:', input_html: { class: 'round-form' }%>
              </div>
              <div class="col-md-6">
                <%= f.input :quantity, label: 'Number of pack:', input_html: { class: 'round-form' }%>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <legend class="col-form-label pt-0">Donation</legend>
            <div class="form-check pl-0">
              <% Request::DONATION.each do |d| %>
                <input class="no-display round-form" type="radio" value="<%= d %>" name="request[donation_cents]" id="request_donation_cents_<%= d %>" />
                <label class="collection_check_boxes form-label-donation round-form" for="request_donation_cents_<%= d %>"> <%= d %>
                </label>
              <% end %>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex justify-content-between flex-column">
        <div class="row">
          <div class="col-md-12">
          <%= cl_image_tag(@request.sweet.picture, {id: 'sweet-image-container'}) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-md-12">
            <legend class="col-form-label pt-0">Pick a Charity</legend>
          </div>
        </div>
        <div class="row ml-5">
          <div class="col-sm-12">
            <div class="d-flex flex-wrap justify-content-around">
              <% Charity.all.each do |charity| %>
                <div class="img-charity align-self-center mr-5">
                  <input class="no-display" type="radio" value="<%= charity.id %>" name="request[charity_id]" id="request_charity_id_<%= charity.id %>">
                  <label class="form-charity-label radio_buttons required fit-img rc-16" for="request_charity_id_<%= charity.id %>"> <%= cl_image_tag(charity.picture, {class: "rc-16"})%> </label>
                </div>
              <% end %>
            </div>
          </div>

        </div>
        <input type="hidden" value="<%= @request.sweet_id %>" name="request[sweet_id]" id="request_sweet_id">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-3"></div>
          <div class="form-group col-md-6">
            <div class=“form-actions”>
              <%= f.button :submit, class: 'btn-action w-100' %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>
