<h1><%= @request.sweet.name %> has been added!</h1>
<p>Find below the details of this request</p>
<%= link_to "Back to candies", sweets_path, class: "btn-info"%>

<div class="card-light card">
  <%= render 'request_details' %>

  <h3>Offers:</h3>
  <%= render 'offer' %>

  <div class="btn-action">
    <%= link_to 'MAKE AN OFFER', new_request_offer_path(@request) %>
  </div>

    <div class="btn-action">
    <%= link_to 'DEMOLISH REQUEST', request_path(@request), method: :delete, data: { confirm: 'Are you sure?'} %>
  </div>
</div>
