<div class="background">
  <div class="container-show-request row justify-content-between">
    <div class="card-request-sidebar col-3">
        <%= link_to "Back to candies", sweets_path, class: "btn-return"%>
      <div class="card-request-user py-5 px-4 mb-5">
          <%= cl_image_tag(@request.user.photo,
          {class: "avatar-xl"}) %>
        <div class="card-pink-p mt-3">
          <p>Sweetie</p>
        </div>
          <p>  <%= @request.user.full_name %></p>
        <div class="text-left">
          <p> <%= image_tag "lolly.png", class: "icon-xs" %> &nbsp; <%= @sum_requests %> requests made </p>
          <p> <%= image_tag "suitcase.png", class: "icon-xs" %> &nbsp;<%= @number_time_hero %> times a hero </p>
          <p> <%= image_tag "heart.png", class: "icon-xs" %> &nbsp; <%= @money_raised %>€ raised</p>
        </div>
      </div>
    </div>

    <div class="card-request-show container col-8">
      <%= render 'request_details' %>
    </div>
  </div>
</div>
