<h1> request for <%= @request.sweet.name %></h1>
<p>Find below the details of this request:</p>

<div class="card-light card">
  <p> created: <%= @request.created_at.to_formatted_s(:long_ordinal) %></p>
  <p> description: <%= @request.description %></p>
  <p> user: <%= @request.user.full_name %></p>
  <%= cl_image_tag(@request.user.photo,
  crop: :fill) %>

 <h3>sweet: <%= @request.sweet.name %></h3>
  <%= cl_image_tag(@request.sweet.picture,
  crop: :fill) %>

  <p> price: <%= convert_currency(@request.price_cents)%></p>
  <p> donation: <%= convert_currency(@request.donation_cents) %> </p>
  <p> quantity: <%= @request.quantity %></p>

  <h3> charity: <%= @request.charity.name %></h3>
  <p>Charity cause: <%= @request.charity.description %></p>
  <%= cl_image_tag(@request.charity.picture,
  crop: :fill) %>
  <div class="btn-action">
    <%= link_to 'MAKE AN OFFER', "#" %>
  </div>
</div>
