<div class="banner-landing" style="background-image: url(https://res.cloudinary.com/duw2hqlo3/image/upload/v1567506406/banner-homepage.png.png)">
    <div class="pic-con">
      <%= image_tag 'https://res.cloudinary.com/duw2hqlo3/image/upload/v1567513935/cooltext334524982911576_imklwe.png' %>
      <%= image_tag 'https://res.cloudinary.com/duw2hqlo3/image/upload/v1567513954/cooltext334525075936704_fjd6ai.png' %>
    </div>
    <div class="parrot-con">
      <%= image_tag 'https://res.cloudinary.com/duw2hqlo3/image/upload/v1567516396/1873562-removebg-preview_Kopie_3_olm2s7.png',id: "left-parrot"%>
      <div class="button-cont">
        <%= image_tag 'https://res.cloudinary.com/duw2hqlo3/image/upload/v1567522968/Group_6_3_ykqzd3.svg',id: "left-speech"%>
        <button class="front-left-button">Make a request</button>
      </div>
      <div class="button-cont">
        <%= image_tag 'https://res.cloudinary.com/duw2hqlo3/image/upload/v1567522972/Group_7_3_yuh7po.png',id: "right-speech"%>
        <button class="front-right-button">Make an offer</button>
      </div>
      <%= image_tag 'https://res.cloudinary.com/duw2hqlo3/image/upload/v1567506570/5b7296f92000002c0034a4b1-removebg-preview_1_icakt8.png',id: "right-parrot"%>
    </div>
</div>


<div class="container-box">
  <h2>How it works</h2>
  <div class="flex-container-landing">
    <div class="card-landing">
      <%#= image_tag "lolly.png" %>
      <h4>Make a request</h4>
      <p>Kind of candy</p>
    </div>
    <div class="card-landing">
      <%#= image_tag "suitcase.png"%>
      <h4>Be a Hero</h4>
      <p>Help a craving</p>
    </div>
    <div class="card-landing">
      <%#= image_tag "heart.png" %>
      <h4>Give to a cause</h4>
      <p>contribute to a cause</p>
    </div>
  </div>
</div>


<div class="banner__money" >
  <div class="banner__money-raised">
    <h1>MONEY</h1>
    <h1>RAISED</h1>
  </div>
  <div class="banner__money-number">
      <h1>1</h1>
      <h1>0</h1>
      <h1 class="comma">,</h1>
      <h1>3</h1>
      <h1>9</h1>
      <h1>7</h1>
  </div>
</div>

    <%= link_to 'Become a hero', requests_path, class: "btn btn-info" %>
    <%= link_to 'Look for candies', sweets_path, class: "btn btn-info" %>

<div class="footer">
    <%#= image_tag "landing-logo.png" %>
</div>
