<div class="banner-landing" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path 'wall.jpeg' %>);">
  <div class="banner-c">
    <h1>EVERYONE HAS A CRAVING SOMETIME</h1>
    <p>Get it fixed doing two sweet things at once</p>
  </div>
</div>


<div class="container-box">
  <h2>How it works</h2>
  <div class="flex-container-landing">
    <div class="card-landing">
      <%= image_tag "lolly.png" %>
      <h4>Make a request</h4>
      <p>Kind of candy</p>
    </div>
    <div class="card-landing">
      <%= image_tag "suitcase.png"%>
      <h4>Be a Hero</h4>
      <p>Help a craving</p>
    </div>
    <div class="card-landing">
      <%= image_tag "heart.png" %>
      <h4>Give to a cause</h4>
      <p>contribute to a cause</p>
    </div>
  </div>
</div>


<div class="banner__money" >
  <div class="banner__money-raised">
    <h1>MONEY</h1>
    <h1>RAISED</h1>
  </div>
  <div class="banner__money-number">
      <h1>1</h1>
      <h1>0</h1>
      <h1 class="comma">,</h1>
      <h1>3</h1>
      <h1>9</h1>
      <h1>7</h1>
  </div>
</div>

    <%= link_to 'Become a hero', requests_path, class: "btn btn-info" %>
    <%= link_to 'Look for candies', sweets_path, class: "btn btn-info" %>

