<div class="banner-landing" id="top" style="background-image: url(https://res.cloudinary.com/duw2hqlo3/image/upload/v1567506406/banner-homepage.png.png)">
    <div class="pic-con">
      <%= image_tag 'https://res.cloudinary.com/duw2hqlo3/image/upload/v1567513935/cooltext334524982911576_imklwe.png' %>
      <%= image_tag 'https://res.cloudinary.com/duw2hqlo3/image/upload/v1567513954/cooltext334525075936704_fjd6ai.png' %>
    </div>
    <div class="parrot-con">
      <%= image_tag 'https://res.cloudinary.com/duw2hqlo3/image/upload/v1567516396/1873562-removebg-preview_Kopie_3_olm2s7.png',id: "left-parrot"%>
      <div class="button-cont">
        <%= image_tag 'https://res.cloudinary.com/duw2hqlo3/image/upload/v1567522968/Group_6_3_ykqzd3.svg',id: "left-speech"%>
         <button class="front-left-button"> <%= link_to 'MAKE A REQUEST', sweets_path %></button>
      </div>
      <div class="button-cont">
        <%= image_tag 'https://res.cloudinary.com/duw2hqlo3/image/upload/v1567522972/Group_7_3_yuh7po.png',id: "right-speech"%>
        <button class="front-right-button"> <%= link_to 'MAKE AN OFFER', requests_path %></button>
      </div>
      <%= image_tag 'https://res.cloudinary.com/duw2hqlo3/image/upload/v1567506570/5b7296f92000002c0034a4b1-removebg-preview_1_icakt8.png',id: "right-parrot"%>
    </div>


</div>

<div class="background-glitter" style="background-image: url(https://media1.giphy.com/media/WNJATm9pwnjpjI1i0g/giphy.gif?cid=790b7611a105b44895dc2e857e23a432ff27863771445879&rid=giphy.gif)"></div>



<div class="container-box" id="how-to" style="background-image: url(https://res.cloudinary.com/duw2hqlo3/image/upload/v1567583939/Rectangle_1_nmpdzt.png)">
  <a href="/#money" class="pointing-finger"> $$$</a>
    <h2>How it works</h2>
  <div class="flex-container-landing">
    <div class="card-landing">
      <%= image_tag "https://media.giphy.com/media/Feyr7kcA5tvkC45p57/giphy.gif" %>
      <h4 class="pink">Craving Sweets</h4>
      <p>Are you craving candy from your home country and tired of high shipping costs to feed your craving?</p>
    </div>
    <div class="card-landing">
      <%= image_tag "https://media.giphy.com/media/kBrXyorjXo9Rh66RUf/giphy.gif"%>
      <h4 class="pink">Make a Request</h4>
      <p>Upload a Request of your sweetest dream on Sweet Travels and let someone bring it from their trip</p>
    </div>
    <div class="card-landing">
      <%= image_tag "https://media.giphy.com/media/H3NDKBW2CafBn2c0pR/giphy.gif" %>
      <h4 class="blue">True heroes bring candy</h4>
      <p>Make an offer to a request: make some space in your luggage and bring dat candy home from your trip! </p>
    </div>
    <div class="card-landing">
      <%= image_tag "https://media.giphy.com/media/SxAWlNkmnYFodtLmEg/giphy.gif" %>
      <h4 class="blue">Bring joy - twice!</h4>
      <p>Feed cravings & contribute to causes: help to save shipping costs & increase donations!</p>
  </div>
</div>

<div class="banner__money" id="money" style="background-image: url(https://media1.giphy.com/media/2ZWoWMcaVoBfKQvpiF/giphy.gif?cid=790b76112817fdc9f91c0047f3dc8a5a5bff29264c04745b&rid=giphy.gif)">
  <div class="banner__money-raised">
    <h1>MONEY</h1>
    <h1>RAISED</h1>
  </div>
  <div class="banner__money-number">
      <h1>1</h1>
      <h1>0</h1>
      <h1 class="comma">,</h1>
      <h1>3</h1>
      <h1>9</h1>
      <h1>7</h1>
  </div>
</div>
<a href="/#top" class="pointing-finger">>> GO UP </a>
<div class="footer">

    <%= image_tag "landing-logo.png" %>
</div>


