<div class="banner-landing" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1502741509793-1bf00d85aeff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80);">
  <div class="container">
    <%= image_tag "landing-logo.png" %>
    <h1>SWEET TRAVELS</h1>
    <p>Fix Your sweet tooth while contributing to a cause.</p>
    <%= link_to 'Become a hero', requests_path, class: "btn btn-info" %>
    <%= link_to 'Look for candies', sweets_path, class: "btn btn-info" %>
  </div>
</div>


<div class="container-box">
  <h2>How it works</h2>
  <div class="flex-container-landing">
    <div class="card-landing">
      <%= image_tag "lolly.png" %>
      <h4>Make a request</h4>
      <p>Kind of candy</p>
    </div>
    <div class="card-landing">
      <%= image_tag "suitcase.png"%>
      <h4>Be a Hero</h4>
      <p>Help a craving</p>
    </div>
    <div class="card-landing">
      <%= image_tag "heart.png" %>
      <h4>Give to a cause</h4>
      <p>contribute to a cause</p>
    </div>
  </div>
</div>


<div class="container">
  <div>
    <h2>Money raised</h2>
    <h2>10,394</h2>
  </div>
</div>


