<h1>Payment for Request <%= @order.offer.request.sweet.name %></h1>
<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= convert_currency(@order.amount) %></span>
    </label>
  </article>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My request for <%= @order.offer.request.sweet.name %>"
    data-description="Offer from <%= @order.offer.user.full_name %>"
    data-email="<%= current_user.email %>"
    data-amount="<%= convert_currency(@order.offer.request.price_cents + @order.offer.request.donation_cents) %>"
    data-currency="euros<%#= @request.price_cents %>">
  </script>
<% end %>
