
<div class="container-top">
  <h1>See Details of this Offer</h1>
</div>
<div class="container-detail">
  <div class="card-detail-offer">
    <div class="container-offer">
    <%= cl_image_tag(@offer.user.photo,
    {class: "avatar"}) %>
      <div class='container-content'>
      <h4><%= @offer.user.full_name %>'s offer</h4>
      <p>Status: <%= @offer.status %></p>
      </div>
    </div>
  <p>Message:</p>
  <%= @offer.content %>
  <p>I will be back <%= @offer.end_date %></p>
  <p>Pick Up Location: <%= @offer.pick_up_location %></p>
  <div class="mt-5">
    <%= link_to 'Go to Profile', profile_path, class: 'btn-action mr-4' %>
    <%= link_to 'Back to request', requests_path, class: 'btn-action' %>
  </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-3">
    <div class="chat-header rc-top-16">  <h4>Boutiful chat</h4>  </div>
      <div class="messages">
        <% @offer.messages.each do |message| %>
          <%= render "messages/message", message: message, user_is_message_author:
          message.user == current_user %>
        <% end %>
      </div>
        <div id="create-message" class="rc-bottom-16">
        <%= simple_form_for [@offer, Message.new], remote: true do |f| %>
          <%= f.input :content, label: false, :input_html => { :class => 'rc-16' } %>
        <% end %>
        </div>
    </div>

  </div>
</div>

<% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    App['offer_<%= @offer.id %>'] = App.cable.subscriptions.create(
      { channel: 'OfferChannel', offer_id: <%= @offer.id %> },
      { received: (data) => {
        if (data.current_user_id !== <%= current_user.id %>){
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
        }
      }
    })
  </script>
<% end %>
