<div class="container-top sticky-search-reguest">
  <div>
    <%= image_tag 'https://media.giphy.com/media/QBwTvLxN5kHvIsvw3B/giphy.gif', id: "left-candy" %>
  </div>
  <div>
    <h1>Candy? Fix dat craving!</h1>

    <%= form_tag(search_sweets_path, method: "get", class: "search_bar") do %>

      <%= text_field_tag :query, nil, placeholder: "Search by sweet name, country and category" %>
      <i id='search_icon' class="fa fa-search searchIcon"></i>
      <%= submit_tag "", id:'search_button'%>
    <% end %>
  </div>
  <div>
    <%= image_tag 'https://media.giphy.com/media/QBwTvLxN5kHvIsvw3B/giphy.gif', id: "right-candy" %>
  </div>
</div>

<div class="container-sweet">
  <% @sweets.each do |sweet| %>
  <div class="card-sweet">
    <div class="card-img">
      <%= link_to cl_image_tag(sweet.picture, {class:"rc-16"}), new_sweet_request_path(sweet.id) %>
    </div>
      <div class="card-info">
        <h6>Country: <%= sweet.country %></h6>
        <p>Category: <%= sweet.category %></p>
      </div>
  </div>
  <% end %>
</div>
