<div class="container-top sticky-search">
  <h1>Candy? Fix dat craving!</h1>

  <%= form_tag(search_sweets_path, method: "get", class: "search_bar") do %>

    <%= text_field_tag :query, nil, placeholder: "Search by sweet name, country and category" %>
    <i id='search_icon' class="fa fa-search searchIcon"></i>
    <%= submit_tag "", id:'search_button'%>
  <% end %>
</div>
<div class="container-sweet">
  <% @sweets.each do |sweet| %>
  <div class="card-sweet">
    <div class="card-img">
      <%= link_to cl_image_tag(sweet.picture, crop: :fill), new_request_path %>
    </div>
      <div class="card-info">
        <h4>Country: <%= sweet.country %></h4>
        <p>Category: <%= sweet.category %></p>
      </div>
  </div>
  <% end %>
</div>
